@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Força a cor do texto nos inputs para não bugar no modo escuro do celular */
input, select, textarea {
  color: #111827 !important; /* Um cinza bem escuro, quase preto */
}

/* Corrige o fundo e a cor do texto quando o celular usa preenchimento automático (Autofill) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important; /* Mantém o fundo branco */
    -webkit-text-fill-color: #111827 !important; /* Mantém o texto escuro */
    transition: background-color 5000s ease-in-out 0s;
}